@use './variables.scss' as var;

.TodoSearch{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    .TodoSearch__input{
        width: 100%;
        height: 60px;
        border-radius: 5px;
        border: none;
        padding:0 10px;
        z-index: 5;
        color: var.$black;
        &::placeholder{
            color: var.$black;
            opacity: 0.7;
        }
        &:active input+span{
            background-color: yellow;
        }
        background: #ffffff;
        box-shadow:  13px 13px 26px #d9d9d9,
                    -13px -13px 26px #ffffff;
    }
    span:after{
        content: '';
        width: 100%;
        z-index: 100;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var.$color-five;
    }

}