.loadingTodoItem{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
    z-index: 1;
    border-radius:0 5px 5px 0;
    box-shadow:  13px 13px 26px #d9d9d9,
                -13px -13px 26px #ffffff;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 5%, #cfcfcf 25%, #eeeeee 45%);
    background-size: 800px 104px;
    background-position: 500px 0;
    min-height: 87px;
    position: relative;
}
.loadingMessage{
    margin-bottom: 15px;
}
.loadingTodoItem:nth-child(2){
    animation-delay: 100ms;
}
.loadingTodoItem:nth-child(3){
    animation-delay: 200ms;
}
.loadingTodoItem:nth-child(4){
    animation-delay: 300ms;
}
.loadingTodoItem:nth-child(5){
    animation-delay: 400ms;
}
.loadingTodoItem:nth-child(6){
    animation-delay: 500ms;
}


@keyframes placeHolderShimmer {
    0% {
        background-position: -300px 0;
    }
    100% {
        background-position: 500px 0;

    }
}
